<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>

            <v-content>
                <v-toolbar color="primary">
                    <a style="color:white;" href="index.html">Notification</a>&nbsp;&nbsp;
                    <a  style="color:white;"href="slide.html">Slide</a>
                </v-toolbar>
                <v-container column >
                    <h2>สร้าง Notification</h2>
                    <form @submit.prevent="pushNotification()" >
                            <v-text-field v-model="title" label="หัวข้อ" rounded solo required ></v-text-field> 
                            <v-textarea v-model="body" label="เนื้อหา" rounded solo required ></v-textarea>
                           <center> <v-btn type="submit" large rounded color="success" >Push Notification</v-btn> </center> 
                    </form>
                  
                </v-container>
               
            </v-content>
        </v-app>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            /*-------------------------Load Component---------------------------------------*/
            components: {

            },
            /*-------------------------Set Component---------------------------------------*/
            props: {

            },
            /*-------------------------DataVarible---------------------------------------*/
            data() {
                return {
                    title:'',
                    body:'',
                };
            },
            /*-------------------------Run Methods when Start this Page------------------------------------------*/
            async mounted() {
                /**** Call loading methods*/
                this.load();
            },
            /*-------------------------Run Methods when Start Routed------------------------------------------*/
            async beforeRouteEnter(to, from, next) {
                next()
            },
            /*-------------------------Vuex Methods and Couputed Methods------------------------------------------*/
            computed: {

            },
            /*-------------------------Methods------------------------------------------*/
            methods: {
                async pushNotification() {
                    let data = {
                        "to": "/topics/test",
                        "notification": {
                            "title": this.title,
                            "body": this.body,
                            "icon": "myicon"
                        }
                    }
                    await axios.post('https://fcm.googleapis.com/fcm/send', data)
                        .then((r) => {
                            alert('สร้าง Notification สำเร็จ');
                        }).catch((e) => {
                            alert('Error');
                        });
                    this.title = '';
                    this.body = '';
                },
                /******* Methods default run ******/
                load: async function () {
                    axios = axios.create({
                        headers: {
                            "Authorization": "key=AAAAWS2ylkU:APA91bGdgBEVTD1teiaUbtPmmHZiAR7W_48KRnljbvgzwHyuVYjwez9a6UYyxX-0-QGy3V0-HUIJDWphglF4hC7UN7xuxYHkaU_MZvk0WTQ5S7Tcq87Gg5pIl6NDXf0VmweI5Bt-N3Ar",
                            'Content-Type': "application/json"
                        }
                    })

                }
            },
        })
    </script>
</body>

</html>